<div style="display: flex;flex-direction: column;margin: 0px 100px;gap: 10px">
  <div style="display: flex;flex-direction: row;justify-content: space-between;">
    <div>
      Personal Management
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="openDialog()">Create Personal</button>
    </div>
  </div>
  <app-data-list [pageItem]="pageItem" [displayedColumns]="columnsToDisplay" [editable]="true" [onEdit]="editPersonal" [onDelete]="deletePersonal" >
  </app-data-list>
</div>
